title {
    display: none;
}

* {
    background-color: rgb(31, 30, 30);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    

}

.kenzielogo {
    height: 120px;
    width: 80px;
}

.who {
    font-size: 20px;
    font-weight: 450;
    margin: 30px;
    

} 

.perfis {
    height: 300px;
    display: flex;
    flex-direction: row;

}

.boxperfil {
    height: 170px;
    width: 170px;
    border-radius: 7px;
    margin-bottom: 40px;
    
}

.plus {
    background-color: solid rgb(31, 30, 30) ;

}

.boxperfil:hover figure{
    border: 2px solid white;
}

.boxperfil:hover p{
    color: rgba(255, 255, 255, 0.527)

}

button {
    padding: 10px;
    border-radius: 6px;
    width: 180px;
}

.gerencia:hover {
    background-color: white;
    color:black;
    

}